<a href="https://colab.research.google.com/github/page2me/-Portfolio/blob/master/python_%3D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Variables**

In [ ]:
number = 6
username = "wee\"rachai'"
print(number)
print(username)

6
wee"rachai'

[**Multiply In Python**](https://pythonguides.com/multiply-in-python/)

In [ ]:
number = 20 * 3
print(type(number))
print('The product is: ',type(number))

<class 'int'>
The product is:  <class 'int'>

In [ ]:
number = 2.0 * 3
print(type(number))
print('The product is: ',type(number))

<class 'float'>
The product is:  <class 'float'>

In [ ]:
username = "weerachai"
number = username * 2
print(type(number))
print('The product is: ',number)

<class 'str'>
The product is:  weerachaiweerachai

**Python User Input**

In [ ]:
username = input("Enter username:? ")
print("Hello, " + username)

Enter username:? weerachai
Hello, weerachai

In [ ]:
print('Enter username:')
username = input()
print('Hello,', username)

Enter username:
weerachai
Hello, weerachai

**Add item from user input into list in Python**

In [ ]:
usernames = [input(f"Enter username{n+1}:? ") for n in range(6)]

Enter username1:? wee
Enter username2:? ra
Enter username3:? chai
Enter username4:? yaem
Enter username5:? va
Enter username6:? chi

**List of numbers as input from a user**

In [ ]:
numbers = input("Enter list of number:? ").split()
print(numbers)

Enter list of number:? 1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']

In [ ]:
numbers = input("Enter list of number:? ").split(',')
print(numbers)

Enter list of number:? 1,2,3,4,5,6
['1', '2', '3', '4', '5', '6']

**Read CSV from user input**

In [ ]:
students = [input("Read CSV:? ").split(',') for x in range(6)]
print("\n".join([str(x) for x in students]))

Read CSV:? ID,Name,GPA,IC3,Cal1,Cal2
Read CSV:? 002,ra,2.54,A,C,B
Read CSV:? 003,chai,2.54,A,C,B
Read CSV:? 004,yaem,2.54,A,C,B
Read CSV:? 005,va,2.54,A,C,B
Read CSV:? 006,chi,2.54,A,C,B
['ID', 'Name', 'GPA', 'IC3', 'Cal1', 'Cal2']
['002', 'ra', '2.54', 'A', 'C', 'B']
['003', 'chai', '2.54', 'A', 'C', 'B']
['004', 'yaem', '2.54', 'A', 'C', 'B']
['005', 'va', '2.54', 'A', 'C', 'B']
['006', 'chi', '2.54', 'A', 'C', 'B']


```
# File students.csv
ID,Name,GPA,IC3,Cal1,Cal2
002,ra,2.54,A,C,B
003,chai,2.54,A,C,B
004,yaem,2.54,A,C,B
005,va,2.54,A,C,B
006,chi,2.54,A,C,B
```
```
# File: students.py
students = [input().strip().split(',') for x in range(6)]
print("\n".join([str(x) for x in students]))
```
```
# cat students.csv | python students.py
```
```
['ID', 'Name', 'GPA', 'IC3', 'Cal1', 'Cal2']
['002', 'ra', '2.54', 'A', 'C', 'B']
['003', 'chai', '2.54', 'A', 'C', 'B']
['004', 'yaem', '2.54', 'A', 'C', 'B']
['005', 'va', '2.54', 'A', 'C', 'B']
['006', 'chi', '2.54', 'A', 'C', 'B']
```

[**Python Anonymous/Lambda Function**](https://www.machinelearningplus.com/python/lambda-function/)

`จงเขียนโปรแกรมเพื่อหาค่าของเลขสี่หลัก (0-9999) ที่หาผลรวมของแต่ละหลักยกกำลังสี่ แล้วมีค่าเท่ากับเลขเดิม เช่น เลข 1634 จะได้ค่าเท่าเดิมดังนี (1^4+6^4+3^4+4^4 = 1+1296+81+256 = 1634)`

In [ ]:
# use anonymous/lambda function
x = 1634
y0 = lambda x : int(x)**4 # use CPU
list(map(y0,str(x)))

[1, 1296, 81, 256]

In [ ]:
# y^4, solution 1
x = [1, 6, 3, 4] 
y = lambda x: x**4
sum(map(y, x))

1634

In [ ]:
# solution 1
n = 9999
y = lambda x : int(x)**4
[x for x in range(n) if x == sum(map(y,str(x)))]

[0, 1, 1634, 8208, 9474]

In [ ]:
# ผลบวก
from functools import reduce
x = [1, 2, 3, 4]
y = lambda x1, x0 : x1 + x0 
reduce(y, x)

10

In [ ]:
# y^4, solution 2
from functools import reduce
y0 = lambda x: x**4
y1 = lambda x1, x0: x1 + x0
reduce(y1,map(y0,[1,6,3,4]))

1634

In [ ]:
# solution 2
from functools import reduce
n = 9999
y0 = lambda x : int(x)**4
y1 = lambda x1, x0 : x1 + x0 
[x for x in range(n) if x == reduce(y1,map(y0,str(x)))]

[0, 1, 1634, 8208, 9474]

In [ ]:
# use list comprehensive
x = 1634
p = [0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561] # use Memory
[p[int(m)] for m in str(x)]

[1, 1296, 81, 256]

In [ ]:
# y^4, solution 3
x = [1, 6, 3, 4] 
p = [0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]
sum([p[n] for n in x])

1634

In [ ]:
# solution 3
n = 9999
p = [0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]
[x for x in range(n) if x == sum([p[int(m)] for m in str(x)])]

[0, 1, 1634, 8208, 9474]

In [ ]:
# solution 4
from functools import reduce
n = 9999
p = [0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]
y1 = lambda x1, x0 : x1 + x0 
[x for x in range(n) if x == reduce(y1,[p[int(m)] for m in str(x)])]

[0, 1, 1634, 8208, 9474]

[**Recursive Functions in Python**](https://dotnettutorials.net/lesson/recursive-and-lambda-functions-in-python/)

In [ ]:
# y^4, solution 4
getSum = lambda l: l[0] + getSum(l[1:]) if l else 0
x = [1, 6, 3, 4] 
p = [0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]
getSum([p[n] for n in x])

1634